.bton{
    left:450px;
}
.contai{
    position:relative;
}
.box{
    position:relative;
}
.h5{
    color:chartreuse;
    top:110px;
    left:150px;
    z-index: 5;
}
img:hover{
    transform: scale(0.9);
    transition: 0.3s  cubic-bezier(0.165, 0.84, 0.44, 1);
}

.h6{
    color:blueviolet;
    left:140px;
    top:400px;
    z-index: 5;
}
@media screen and (max-width:600px){
    .bton{
        display:none;
    }
    .h5,.h6{
        display:none;
    }
}